<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script src="vue.js"></script>
<style>
	/*v-enter【这是一个时间点】 是进入之前，元素的起始状态，此时还没有开始进入*/
	/*v-leave-to【这是一个时间点】是动画离开之后，离开的终止状态，此时，元素动画已经结束*/
	.v-enter,
	.v-leave-to{
		opacity:0;
		transform:translateX(80px);
	}
	/*v-enter-active 入场动画的时间段*/
	/*v-leave-active 离场动画的时间段*/
	.v-enter-active,
	.v-leave-active{
		transition:all 0.8s ease;
	}
	
	.my-enter,
	.my-leave-to{
		opacity:0;
		transform:translateY(70px);
	}
	
	.my-enter-active,
	.my-leave-active{
		transition:all 0.8s ease;
	}
</style>
</head>

<body>
	<div id="app">
    	<input type="button" value="toggle" @click="flag=!flag">
    	<!--需求：点击按钮，让h3显示，再点击，让h3隐藏 -->
        <!--1、使用transition元素，把需要被动画控制的元素，包裹起来 -->
        <!--transition元素，是Vue官方提供的 -->
        <transition>
        	<h3 v-if="flag">这是一个h3</h3>
    	</transition>
        
        <hr>
        
        <input type="button" value="toggle2" @click="flag2=!flag2">
        <transition name="my">
        	<h6 v-if="flag2">这是一个h6</h6>
    	</transition>
    </div>
    <script>
		new Vue({
			el:'#app',
			data:{
				flag:false,
				flag2:false
			},
			methods:{
				
			}
		})
	</script>
</body>
</html>
