<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script src="vue.js"></script>
</head>

<body>
	<div id="app">
    	<input type="text" v-model="firstname">+
        <input type="text" v-model="lastname">=
        <input type="text" v-model="fullname">
    </div>
    <script>
		new Vue({
			el:'#app',
			data:{
				firstname:'',
				lastname:'',
				fullname:''
			},
			methods:{
	
			},
			watch:{//使用这个属性，可以监视data中指定数据的变化，然后触发这个watch中对应的function处理函数
				firstname:function(newVal,oldVal){
					//console.log('监视到了变化')
					//this.fullname=this.firstname+'-'+this.lastname
					this.fullname=newVal+'-'+this.lastname
				},
				lastname:function(newVal){
					this.fullname=this.firstname+'-'+newVal
				}
			}
		})
	</script>
</body>
</html>
